@font-face {
    /*src: url('../fonts/eurosti-webfont.woff2') format('woff2'),*/
    /*url('../fonts/eurosti-webfont.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

.grid-view td {
    white-space: nowrap;
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0;
    margin: 50px auto 10px auto;

}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*for modal form*/
.button-container {
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: row-reverse;
}

.button-container button {
    margin: 2px;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#header {
    width: 100%;
    /*noinspection CssInvalidFunction*/
    background: #388674;
    padding: 10px 10px 0px;
    color: white;
    clear: both;
}

#header button {
    background: transparent;
    border: none;
}

#header form {
    display: inline;

}

#header .img {
    height: 20px;
}

#header ul {
    padding: 0;
    margin: 0;
}

#header ul li {
    margin-left: 10px;
}

#header #title {
    margin-left: 20px;
}

#header #title #mainTitle {
    font-size: 30px;
}

#header #title #subTitle {
    font-size: 12px;
    font-style: italic;
}

#header #nav {
    font-size: 30px;
}

#title {
    margin-bottom: 8px;
}

#header li {
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
    border-bottom: 6px solid transparent;
}

#header a {
    color: inherit;
}

#header a:hover, #header a:hover, #header li button {
    text-decoration: inherit;
    text-transform: inherit;
}

#header li:hover, #header .active-link {
    font-style: normal;
    text-decoration: none;
    border-bottom: 6px solid #00b3ee;
}

#header #title #nav li:last-child {
    padding-left: 10px;
    border-left: 1px white solid;
}

#header #title #nav {
    float: right;
}

/*<!-- alskdjklasjd -->*/

.panel-heading, .btn-success {
    /*noinspection CssInvalidFunction*/
    background: #388674 !important;
}

thead a {
    /*noinspection CssInvalidFunction*/
    color: #388674 !important;
}

/*tbody tr:hover {*/
/*background: #0986538c !important;*/
/*font-weight: bold;*/
/*color: white;*/
/*}*/

thead th {
    text-align: center;
}

.login-container {
    width: 280px;
    margin: auto;
    padding: 16px;
}

.login-container button {
    width: 100%;
}

.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.chover:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*gridview style*/
.grid-view {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.panel-primary {
    border-color: white;
}